
body {
    background-color: #ffed89;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

input {
    padding: 12px;
    width: 250px;
    border: 2px solid orange;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
}

button {
    width: 120px;
    height: 45px;
    background-color: orange;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}