body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

p {
    font-size: 24px;
    font-weight: bold;
}

button {
    width: 120px;
    height: 45px;
    background-color: rgb(189, 0, 104);
    color: white;
    border-radius: 25px;
    margin: 5px;
}

